<h2>Филтър</h2>

<%= form_tag request.original_url, method: :get do %>
<p>
<%= date_select :event_start_date, nil %>
</p>

<p>
<%= radio_button_tag(:uid, "GPNE") %>
<%= label_tag(:uid_GPNE, "ГПНЕ") %>
<%= radio_button_tag(:uid, "GPAE") %>
<%= label_tag(:uid_GPAE, "ГПАЕ") %>
</p>

<p>
<%= submit_tag "Избери" %>
</p>


<%-end%>
